<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<html>
  <head>
    <title>Photo App</title>
  </head>
    
  <body>
    <h1><a href="">사진 목록 페이지</a></h1>
    <h3><a href="{% url 'photo:photo_post' %}">New Photo</a></h3>
    <section>
        {% for photo in photos %}
          <div>
            <h2><span style='font-size:15px'> <a href="{% url 'photo:photo_delete' pk=photo.pk %}">삭제</a></span></h2>
            <a href="{% url 'photo:download' filename=photo.imagefile %}"><img src="/media/{{ photo.imagefile}}" alt="{{ photo.title }}" width="300" /></a>
            <p>{{ photo.author }}, {{ photo.price }}원</p>
          </div>
        {% endfor %}
    </section>
  </body>
</html>

</html>